@using CSCI_320_KotDT.Models
@model Review

@using (Html.BeginForm("AddReview", "Movies", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h5>Add a Review</h5>
        <input type="hidden" name="@Html.NameFor(m=>m.MovieId)" value="@Model.MovieId" />

        @{ User user = (User)HttpContext.Current.Session["UserID"]; }
        <input type="hidden" name="@Html.NameFor(m=>m.CreatedBy)" value="@user.username" />

        <p>Review: <input type="text" name="@Html.NameFor(m=>m.ReviewText)" value="@Model.ReviewText" /></p>

        <p>Score: <input type="text" name="@Html.NameFor(m=>m.Score)" value="@Model.Score" /></p>


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Publish" class="btn btn-default" />
            </div>
        </div>
    </div>
}
