@model CSCI_320_KotDT.Models.Movie
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Release_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Release_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Running_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Running_time)
        </dd>
        @foreach (var actor in Model.Cast)
            {
            <dd>
                @Html.DisplayFor(modelItem => actor.Name)
            </dd>
                <dd>
                    @Html.DisplayFor(modelItem => actor.Role)
                </dd>
        }
    </dl>
</div>
<div>
        <h3>Reviews</h3>
        @foreach(var review in Model.reviews)
        {
                <p>Review by: @Html.DisplayFor(text => review.username)</p>
                <p>@Html.DisplayFor(text => review.review_text)</p>
        }

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
