@using CSCI_320_KotDT.Models
@model Movie
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RunningTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunningTime)
        </dd>
        <table class="table">
        @foreach (var actor in Model.Cast)
        {
                <tr onclick="location.href = '@(Url.Action("Details", "Actors", new { id = actor.Name }))'">
                    <td>
                        @Html.DisplayFor(modelItem => actor.Name)
                    </td>
                    <td>   
                        @Html.DisplayFor(modelItem => actor.Role)
                    </td>
                </tr>
        }
        </table>
    </dl>
</div>
<div>
        <h3>Reviews</h3>
        @foreach (var review in Model.Reviews)
        {
                <p>Review by: @Html.DisplayFor(text => review.CreatedBy)</p>
                <p>@Html.DisplayFor(text => review.ReviewText)</p>
        }

        @{Html.RenderPartial("_Review", Model.NewReview); }

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
