@using CSCI_320_KotDT.Models
@model Movie
@{
    ViewBag.Title = Html.DisplayFor(model => model.Title);
}



<div>
    <h1>@Html.DisplayFor(model => model.Title)</h1>

    @if(Session["UserID"] != null){
        if(!ViewBag.Following){
                <button runat="server" onclick="location.href='@Url.Action("follow", "Movies", new{id = Model.MovieId})'">Follow</button>
        }
    	else{
                    <button runat="server" onclick="location.href='@Url.Action("unfollow", "Movies", new{id = Model.MovieId})'">Unfollow</button>

    	}
    }

    <h3>@Html.LabelFor(model => model.Score): @Html.DisplayFor(model => model.Score)</h3>

    <p>Released In: @Html.DisplayFor(model => model.ReleaseYear)</p>

    <p>Runtime: @Html.DisplayFor(model => model.RunningTime)</p>
    <h3>Directors:</h3>
    <ul>
        @foreach (string director in Model.Directors)
        {
            <li ><a href="@(Url.Action("Details", "Actors", new { id = director }))">@director</a></li>

        }
    </ul>
    <h3>Actors:</h3>
	<div class="panel">
		<table class="table" id ="castList">
		@{int i  = 0;}
        @foreach (var actor in Model.Cast)
        {
			    
                <tr class="index-row" onclick="location.href = '@(Url.Action("Details", "Actors", new { id = actor.Name }))'" @if(i > 9){<text>style="display:none"</text>} >
                    <td>
                        @Html.DisplayFor(modelItem => actor.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => actor.Role)
                    </td>
                </tr>
			    i++;
        }
		
        </table>
		@if(i > 9){
		    <button onclick="toggleCastList()">Show More Cast</button>
		}
	</div>

</div>
<hr />
<div>
        <h4>Reviews</h4>
        @foreach (var review in Model.Reviews)
        {
                <h5>Review by: @Html.DisplayFor(text => review.CreatedBy)</h5>
                <h5>Score: @Html.DisplayFor(text =>review.Score)</h5>
                <p>@Html.DisplayFor(text => review.ReviewText)</p>

            if (Session["UserID"] != null)
            {
                @Html.ActionLink("Like", "Like", "Movies", new { id = review.Id, returnUrl = this.Request.RawUrl }, new { @style = "margin-right:20px;" })
                @Html.ActionLink("Dislike", "Dislike", "Movies", new { id = review.Id, returnUrl = this.Request.RawUrl }, new { @style = "margin-right:20px;" })
            }
            <div>
            <label>Comments</label>
            @foreach (var comment in review.Comments)
            {
                <p>@Html.DisplayFor(text=> @comment.CreatedBy) - @Html.DisplayFor(text=>@comment.Posted)</p>
                <p>@Html.DisplayFor(text=> @comment.Text)</p>
            }
            </div>
            if (Session["UserID"] == null)
            {
                    <p>@Html.ActionLink("Login", "Login", "Login") to like, dislike, or comment on this review</p>
                }
                else
                {

                    { Html.RenderPartial("_Comment", new Comment(review.Id)); }
                }
        }
        <hr />
        @if (Session["UserID"] == null)
        {
            <p>@Html.ActionLink("Login", "Login", "Login") to add a review</p>
        }
        else
        {
            { Html.RenderPartial("_Review", Model.NewReview); }
        }

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
