@model IEnumerable<CSCI_320_KotDT.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Index</h2>



    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
       
    <p>
        Title: @Html.TextBox("Search") <br />
        <input type="submit" value="Filter" />
    </p>
    }
    @if (@Model.Count() == 25)
    {

        if ((string.IsNullOrEmpty(Request["pageNum"]) ? "0" : Request["pageNum"]) != "0")
        {
            @Html.ActionLink("Prev", "Index", "Movies", new { pageNum = Convert.ToInt32(Request.Params["pageNum"]) - 1, search = Request.Params["search"] }, new { @style = "margin-right:20px;" })
        }
        @Html.ActionLink("Next", "Index", "Movies", new { pageNum = Convert.ToInt32(Request.Params["pageNum"]) + 1, search = Request.Params["search"] }, null)
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunningTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr class="index-row" onclick="location.href = '@(Url.Action("Details", "Movies", new { id = item.MovieId }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunningTime)
                </td>
            </tr>
        }

    </table>
@if (@Model.Count() == 25)
{
    if ((string.IsNullOrEmpty(Request["pageNum"]) ? "0" : Request["pageNum"]) != "0")
    {
        @Html.ActionLink("Prev", "Index", "Movies", new { pageNum = Convert.ToInt32(Request.Params["pageNum"]) - 1, search = Request.Params["search"] }, new { @style = "margin-right:20px;" })
    }
    @Html.ActionLink("Next", "Index", "Movies", new { pageNum = Convert.ToInt32(Request.Params["pageNum"]) + 1, search = Request.Params["search"] }, null)
}
