@model IEnumerable<CSCI_320_KotDT.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
    <p>
        Title: @Html.TextBox("Search") <br />
        <input type="submit" value="Filter" />
    </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release_year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Running_time)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr class="index-row" onclick="location.href = '@(Url.Action("Details", "Movies", new { id = item.MovieId }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Release_year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Running_time)
                </td>
            </tr>
        }

    </table>
