@model CSCI_320_KotDT.Models.Actor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <h1>
            @Html.DisplayFor(model => model.Name)
        </h1>

        <table class="table">
            @foreach (var role in Model.Roles)
            {
                <tr class="index-row" onclick="location.href = '@(Url.Action("Details", "Movies", new { id = role.Item2.MovieId }))'">
                    <td>
                        @Html.DisplayFor(modelItem => role.Item1)
                    </td>
                    <td>   
                        @Html.DisplayFor(modelItem => role.Item2.Title)
                    </td>
                </tr>
            }
        </table>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
