@using System.Data.Entity.Core.Common.EntitySql
@using CSCI_320_KotDT.Models
@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Welcome</h1>
  @if (Session["UserID"] == null) {
    <p class="lead">Login I guess, or create an account (dont let me forget to add some kind of filler here)</p>
  }
  else {
    <table class="table">
      @foreach (Review review in ViewBag.feed) {
        <tr><td>
            <p>Review by: @review.CreatedBy</p>
            <p>Likes: @review.LikeCount Dislikes: @review.DislikeCount Score: @review.Score</p>
            @Html.ActionLink("Like", "Like", "Home", new{id = review.Id}, null)
            @Html.ActionLink("Dislike", "Dislike", "Home", new{id = review.Id}, null)
            <p>@review.ReviewText</p>
          </td>
        </tr>
      }
    </table>
  }
</div>